body, p, h1,h2,h3, button, div,a{
    font-family: 'Ubuntu', sans-serif;
}

.head{
    position: relative;
    margin-top:82px;
    margin-bottom:73px;
    width: 900px;
    margin-left: calc(50% - 450px);
}
.head-logo{

    width: 268px;
    height: 70px;
    background-image: url('/static/start/img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}.head-count{
     font-size: 36px;
     font-weight: 100;
     text-align: left;
     color: #1d1d24;
 }
.head-blog-create{
    position: absolute;
    display: block;
    width: 108px;
    height: 86px;
    background-image: url('/static/start/img/add.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    right: 0;
}
.head-blog-create:hover{
    cursor: pointer;
}

.content{
    width: 900px;
    margin-left: calc(50% - 450px);
}
.blog-item{
    display: inline-block;
    position: relative;
    width: 397px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 44px;
    overflow: hidden;
}
.blog-item:nth-child(odd){
    margin-right: 50px;
}
.blog-item-hr{
    height: 1px;
    width: 100%;
    background: rgba(150, 150, 150, 0.56);
}
.blog-item-background{
    width: 100%;
    height: 158px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.blog-item-title{
    font-size: 24px;
    color: #1d1d24;
    margin: 11px 20px 7px 20px;
}
.blog-item-date{
    font-size: 18px;
    font-weight: 100;
    color: #1d1d24;
    margin: 0px 20px 13px 20px;
}
.blog-item-text{
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 100;
    color: #1d1d24;
    margin: 12px 20px 20px 20px;
    text-overflow: ellipsis;
    height: 50px;
}
.blog-item-more{
    float: right;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: dodgerblue;
    text-decoration: none;
    transition: 100ms ease-in-out;
}
.blog-item-more:hover{
    color: #ff4a33;
    cursor: pointer;
}

/*============CREATE===================*/

.mod-create{
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-bottom: 90px;
}
.blog-create-title{
    margin-top: 84px;
    font-size: 36px;
    color: #1d1d24;
    margin-bottom: 47px;
}
.blog-create-group{

}
.blog-create-lable{
    font-size: 20px;
    font-weight: 100;
    color: #1d1d24;
    display: block;
    margin-top: 39px;
    margin-bottom: 12px;
}
.blog-create-input{
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
    display: block;
    height: 60px;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
}
.blog-create-input.mod-textarea{
    height: 230px;
    padding-top: 20px;
}
.blog-create-file{
    float: left;
    width: 100px;
    height: 46px;
    cursor: pointer;
    background-image: url("/static/start/img/photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.blog-create-file-input{
    opacity: 0;
    width: 100px;
    height: 46px;
    cursor: pointer;
    display: block;
}
.btn{
    border-radius: 8px;
    background-color: #b2b2b2;
    color: white;
    text-decoration: none;
    font-size:18px;
    padding: 11px 22px;
    float: right;
}
.btn-cancel{
    margin-right: 20px;
}
.btn-approve{
    border:none;
    background-color: #ff4a33;
}


/*============SUCCESS================*/

.success{
    text-align: center;
    margin-top: 300px;
}
.success-logo{
    width: 180px;
    height: 103px;

}
.success-title{
    color: #ff4a33;
    font-size: 36px;
    text-align: center;
    display: inline-block;
    width: 730px;
}

/*============ARTICLE===================*/

.article-img{
    width: 100%;
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.article-title{
    text-align: center;
}
.article-text{
    border-left: 4px solid #ff4a33;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.mod-article-btn-back{
    float: left;
    background-color: #ff4a33;
    transition: 100ms ease-in-out;
}
.btn.mod-article-btn-back:hover {
    background-color: #b2b2b2;;
}

.article-footer{
    margin-top: 40px;
    margin-bottom: 200px;
    width: 900px;
    margin-left: calc(50% - 450px);
}
.article-date{
    font-size: 12px;
    color: grey;
    font-style: italic;

}